@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=IBM+Plex+Mono:wght@400;500;600&display=swap');

:root {
  --bg-main: #000000;
  --bg-surface: #121212;

  --text-primary: #EDEDED;
  --text-secondary: #B0B0B0;

  --accent-main: #4CAF50;
  --accent-hover: #66BB6A;

  --font-ui: 'Inter', sans-serif;
  --font-hero: 'IBM Plex Mono', monospace;
}

body {
  margin: 0;
  font-family: var(--font-ui);
  background: var(--bg-main);
  color: var(--text-primary);
}
